:root{
    box-sizing: border-box;   
    font-weight: 400;
}
body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:90%;
    height:95vh;
    margin: 1em auto;
}

.calcTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:fit-content;
    margin: 0 auto;
}

.calcScreen{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0.25em auto;
    width:95%;
    height:10%;
    font-size: 2em;
    border: 0.125em inset black;
}
.buttonBody{
    display: grid;
    width: 95%;
    height:60%;
    margin: 1em auto;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap:0.25em;
}
button{
    font-size: 3em;
    background: none;
}
.operation{
    background-color: orange;
}
.function{
    background-color: red;
    color: white;
}
.numbers,.dot{
    background-color: white;
}
.advanced{
    background-color: purple;
    color: white;
}
