:root{
    box-sizing: border-box;   
    --clr-complement: hsl(0 0% 0%);
    --clr-primary:hsl(0, 0%, 100%);
    --clr-accentA:hsl(300, 100%, 25%);
    --clr-accentB:hsl(39, 100%, 50%);
}
body{
    height: 95%;
    width: 95%;
    font-size: 2em;
}
.backgroundImage{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/background.svg');
}

.calculator{
    min-width: 500px;
    max-width: 50%;
    min-height:100%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    border: 0.125em solid #fbae3c;
}

.calcTitle{
    font-size: 2em;
    margin: 0.5em auto;
    color: #fbae3c;
    font-weight: bold;
    border-radius: 50%;
    padding:0.35em;
    background-color: #C0526A;
    border: 0.0625em solid #fbae3c;
    box-shadow: 
    0 0 0.25em 0.2em #683a67,
    0 0 0.5em 0.4em #18223c;
}

.calcScreen{
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    border: 0.0625em solid #f6884d;
}
.operationDisplay{
    width: 20%;
    min-width: 1em;
    font-size: 1.5em;
    height:1em;
    text-align: center;
    color:white;
    border-right: 0.0625em solid #f6884d;
    background-color: #18223c;
}
#inputColumn{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color:white;
    background-color: #001220;
}
.inputDisplay{
    font-size: 1em;
    text-align: right;
}
.historyDisplay{
    position: absolute;
    bottom: 1.4em;
    right: 3em;
    width:50%;
    height: 1em;
    font-size: 0.8em;
    text-align: right;
    background-color: #18223c;
    color:white;
    outline:#f6884d solid 0.0625em;
}
.buttonBody{
    width: 100%;
    height:50%;
    display: flex;
    flex-direction: column;
    background-color: #18223c;
}
.extrapanel,.basepanel{
    display: grid;
    width: 90%;
    padding:0.25em;
    margin:0.25em auto;
    border: 0.125em ridge #f6884d;
    background-color: #C0526A;
}
.extrapanel{
    height: 40%;
    grid-template-columns: repeat(3 , minmax(0, 1fr));
    grid-template-rows: repeat(3 , minmax(0, 1fr));
    grid-template-areas: 
        "square fact root"
        "e percent pi"
        "sin cos tan";
}

.basepanel{
    height: 60%;
    grid-template-columns: repeat(4 , minmax(0, 1fr));
    grid-template-rows: repeat(5 , minmax(0, 1fr));
    grid-template-areas: 
        "extra C AC sign"
        "nine eight seven divide"
        "six five four multiply"
        "three two one minus"
        "dot zero equals plus";
}

#square{
    grid-area: square;
}
#factorial{
    grid-area: fact;
}
#sqroot{
    grid-area: root;
}
#euler{
    grid-area: e;
}
#percent{
    grid-area: percent;
}
#pi{
    grid-area: pi;
}
#sine{
    grid-area: sin;
}
#cosine{
    grid-area: cos;
}
#tangent{
    grid-area: tan;
}

#extra{
    grid-area: extra;
}
#clear{
    grid-area: C;
}
#allClear{
    grid-area: AC;
}
#nine{
    grid-area: nine;
}
#eight{
    grid-area: eight;
}
#seven{
    grid-area: seven;
}
#six{
    grid-area: six;
}
#five{
    grid-area: five;
}
#four{
    grid-area: four;
}
#three{
    grid-area: three;
}
#two{
    grid-area: two;
}
#one{
    grid-area: one;
}
#zero{
    grid-area: zero;
}
#sign{
    grid-area: sign;
}
#add{
    grid-area: plus;
}
#subtract{
    grid-area: minus;
}
#multiply{
    grid-area: multiply;
}
#divide{
    grid-area: divide;
}
#dot{
    grid-area: dot;
}
#equal{
    grid-area: equals;
}

button{
    font-size: 1em;
}
.operation{
    background-color: #18223c;
    color: white;
    border-color: orange;
}
.operation:hover,.operation:active{
    background-color: orange;
    color: black;
    border-color: #18223c;
}
.function{
    background-color: #18223c;
    color: white;
    border-color: red;
}
.function:hover,.function:active{
    background-color: red;
    color: black;
    border-color: #18223c;
}
.numbers,.dot{
    background-color: #18223c;
    color: white;
    border-color: white;
}
.numbers:hover,.numbers:active,.dot:hover,.dot:active{
    background-color: white;
    color: black;
    border-color: #18223c;
}
.extra,.advanced{
    background-color: #18223c;
    border-color: purple;
    color: white;
}
.extra:hover,.extra:active, .advanced:hover,.advanced:active{
    background-color: purple;
    color: black;
    border-color: #18223c;
}

